/* --------- Class Presets ---------- */
.flex {
    display : flex;
}

.col {
    flex-direction : column;
}

.row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-even {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}
