/* Global Variables */
:root{
    --offwhite  : rgba(248, 248, 248, 0.932);
    --border-radius : 1em;
    --search-background-color:rgb(237, 237, 237);
    --purple-theme:rgb(129, 11, 129);

    --dark-grey:rgb(61, 61, 61);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    width:100vw;
    position:fixed;
    top:-0.5rem;
}

button{
    border : none;
}

button:hover {
    cursor:pointer;
    filter:brightness(0.93);
}

input:hover{
    cursor:pointer;
}

#title-container{
    height:10%;
}

#title {
    padding:5px;
    margin:5px;
    margin-right:8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--purple-theme);
}

#chompify-logo{
    height:90%;
}


#page-wrapper{
    width:100%;
    height:100%;
}

/* Sidebar Styling */

#sidebar {
    width:25%;
    height:100vh;

    box-shadow: 7px 0px 8px -6px rgba(0,0,0,0.1);
    z-index: 100;
}

#catergory-wrapper{
    width:100%;
    height:100%;
}

.sidebar-item{
    padding-left:5%;
    width:95%;
    padding-top:2%;
    padding-bottom:2%;
}

.sidebar-item:hover{
    background-color: rgb(236, 236, 236);
    color:var(--purple-theme);
    transform: scale(1.05);
    width:90%;
    cursor: pointer;
}

.sidebar-icon {
    height:30px;
    margin-right:5px;
}


/* main content styling */

#middle-content {
    width:75%;
    height:100vh;
    background-color: var(--offwhite);
    margin-top:0px;

    position:relative;
}

#search-container {
    width:85%;
    height:5%;
    
    border-radius: var(--border-radius);
    box-shadow: 1px 3px 5px 5px rgba(0,0,0,0.1);

    margin-top:10px;
    margin-bottom:2%;
    padding:1em;
}

#search-input-container{
    width:80%;
    height:80%;
    background-color: var(--search-background-color);
    padding-left:15px;
    border-radius: var(--border-radius);

}

#search-icon {
    height:50%;
    filter:brightness(0.8);
}

#search-input {
    border:none;
    background-color: var(--search-background-color);
    border-radius:var(--border-radius);
    height:95%;
    width:100%;
    padding-left:5px;

    outline:none;
}

#search-btn {
    background-color: white;
    color:var(--purple-theme);
    border:2px solid var(--purple-theme);

    width:17%;
    border-radius: var(--border-radius);
    font-weight: 600;

    padding:10px 10px 10px 10px;
}

/* Main Content Styling */

#main-content {
    height:100%;
    width: 100%;
    overflow-y:scroll;

    /* position:relative; */
}

.food-item{
    width:90%;
    height:15%;

    background-color: white;
    box-shadow: 1px 3px 5px 5px rgba(0,0,0,0.1);
    border-radius:var(--border-radius);

    padding:10px;
    margin-bottom:10px;
}

.food-item:hover{
    cursor: pointer;
}

.food-pic{
    height:100%;
    width:20%;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.food-item-info {
    width : 80%;
    height:100%;
    padding:10px;

    position:relative;
}

.food-item-info > * {
    width:100%;
}

.food-item-title { 
    font-size: 1.5em;
    font-weight:600;
    color:var(--dark-grey);
}

.food-item-description {
    color:gray;
    font-size: 0.9em;
    margin-top : 5px;
}

.food-item-add-btn {
    padding : 10px 30px 10px 30px;
    border-radius:var(--border-radius);
    background-color:var(--purple-theme);
    color:white;
    font-weight:600;
}

.food-item-price{
    font-weight:600;
    margin-right:10%;
}

.food-item-category {
    font-weight:600;
}

.food-item-category-icon{
    height:20px;
    margin-right:3px;
}

/* Menu Item Checkout Modal */
#item-checkout {
    position:absolute;
    top:10%;

    width:40%;
    /* height:80%; */
    height:fit-content;
    max-height:80%;

    background-color:white;
    border-radius:var(--border-radius);
    box-shadow: 1px 3px 5px 5px rgba(0,0,0,0.1);
    padding-bottom:1%;
}

#exit-icon-container{
    position:absolute;
    left:6px;
    top:6px;
    height:20px;
    width:20px;
    background-color: rgb(241, 241, 241);
    filter: opacity(0.7);
    z-index:10;
    border-radius: 5px;
}

#exit-icon {
    height:20px;
}

#exit-icon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#item-checkout-img {
    width:100%;
    height:50%;
    object-fit:cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

#item-checkout-info{
    height:50%;
    padding:1rem;
    width:90%;
}

#item-checkout-title {
    font-size:1.7rem;
    text-align:center;
    font-weight:600;
    margin-bottom:10px;
}

#item-checkout-description {
    color : var(--dark-grey);
    text-align: center;
    padding-bottom : 10px;
    border-bottom : 2px solid var(--dark-grey);
}

#checkbox-container-wrapper {
    width:100%;
    margin-bottom:1rem;
}

#checkbox-container{
    min-width:60%;
}
.checkbox-item {
    margin-right:1rem;
}

#item-checkout-bottom { 
    width:100%;
    padding-top:2%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#item-checkout-bottom > .food-item-price {
    margin-right:1em;
}

/* Cart Styling */

#cart {
    width:25%;
    height:100vh;

    z-index: 100;
    box-shadow: -7px 0px 8px -6px rgba(0,0,0,0.1);
}

#cart-header-container {
    font-size:2em;
    font-weight:600;
    height:5%;
    width:90%;
    margin-top:10px;
    padding-bottom:5px;
    border-bottom:2px solid gray;
    color:var(--dark-grey);
}

.cart-quantity {
    background-color: var(--purple-theme);
    padding:0px 3px 0px 3px;
    border-radius:var(--border-radius);
    color:white;
    margin-left:2px;
}

#cart-content { 
    height:70%;
    width:90%;
    overflow-y:scroll;
}

.cart-item{
    width:100%;
    border-bottom:1px solid gray;
    padding-bottom:1em;
}

.cart-item-addons {
    font-size:0.8rem;
    color : gray;
    margin-bottom:5px;
}

.cart-price {
    color:gray;
}

.quantity-toggle-container {
    width:25%;
}

.cart-item-quantity {
    margin : 4px;
    border:1px solid var(--dark-grey);
    padding : 1px 5px 1px 5px;
}

.quantity-btn {
    padding : 3px 7px 3px 7px;
    font-weight:600;
}

#cart-summary {
    padding-top:10px;
    height:25%;
    width:80%;
    border-top:1px solid var(--dark-grey);
}

#cart-summary > div {
    width:50%;
    height:100%;
    font-weight:600;
}

#cart-summary > div > div {
    margin-top:1em;
}


#discount-input{
    margin-left:5px;

    border:none;

    background-color:rgb(230, 230, 230);

    border-radius : 0.5em;
    padding:0.5em 0em 0.5em 1em;
    width:100%;
    margin-bottom:1em;
}

#apply-btn {
    background-color:var(--dark-grey);
    color : white;
    padding : 0.5em 3em 0.5em 3em;
    border-radius : 0.5em;
    font-weight:600;
    margin-bottom:1em;
}


